{
  "root": true,
  "ignorePatterns": ["node_modules/", "*.svg", "*.json", "*.css"],
  "plugins": [  "react",
    "unused-imports",
    "ordered-imports"],
  "parser": "@typescript-eslint/parser", //"babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
    ],
    "ordered-imports/ordered-imports": [
      "error",
      {
        "group-ordering": [
          {
            "name": "relative dir",
            "match": "^[.].*",
            "order": 2
          },
          {
            "name": "node_modules",
            "match": ".*",
            "order": 1
          }
        ]
      }
    ],
    "jsx-a11y/label-has-associated-control": "off",
    "no-param-reassign": 0,
    "react/destructuring-assignment": 0,
    "no-underscore-dangle": 0,
    "react/prop-types": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": [
      0,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
